body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.first-section {
  display: flex;
  margin-bottom: -35px;
}
.header {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  color: hsla(0, 0%, 0%, 0.76);
  margin-bottom: -60px;
}
.header::before {
  content: "";
  height: 140px;
  width: 4px;
  background: rgb(205, 132, 63);
  float: left;
  margin-right: 10px;
  margin-top: 0;
}
.header > h1 > span {
  color: turquoise;
}
.header-paragraph {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.half-width {
  width: 40%;
}
.half-width img {
  width: 90%;
  height: 80%;
  padding-right: 2%;
}
.full-header {
  padding: 5% 10%;
  justify-content: space-around;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.first-button {
  height: 50px;
  width: 160px;
  border-radius: 5px;
  background-color: rgba(0, 128, 128, 0.822);
  border-color: turquoise;
  border-style: none;
  font-size: large;
  color: azure;
  cursor: pointer;
}
.second-header {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  text-align: center;
  font-weight: 900;
}
.mission {
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 30%;
  width: 30%;
  padding: 20px 40px;
}
.mission img {
  height: 150px;
  width: 150px;
}
#illus-one {
  background-color: rgba(176, 224, 230, 0.623);
}
#illus-two {
  background-color: rgb(228, 206, 184);
}
#illus-three {
  background-color: rgb(240, 211, 174);
}
.second-section {
  display: flex;
  padding-left: 8%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.third-section {
  display: flex;
  padding-left: 10%;
  padding-top: 5%;
}
.third-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  text-align: left;
  font-weight: 900;
}
.second-button {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  background-color: rgba(0, 128, 128, 0.822);
  border-color: turquoise;
  border-style: none;
  font-size: large;
  color: azure;
  cursor: pointer;
  font-size: 15px;
}
.project {
  padding-left: 30%;
}
#corona {
  width: 350px;
  height: 400px;
  padding-bottom: 20%;
  background-image: url(./images/shapes/shape-3.png);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: 40%;
}
#football {
  width: 350px;
  height: 400px;
  padding-bottom: 20%;
  padding-left: 40%;
  background-image: url(./images/shapes/shape-9.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right;
}
footer {
  height: auto;
  background-color: black;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: whitesmoke;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
}
footer > p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0px;
  padding-bottom: 14 px 0px;
  opacity: 50%;
  justify-content: center;
}
